body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(to right, darkblue, purple);
}

h1 {
  font-size: 3rem;
  padding: 2rem;
  color: aqua;
  letter-spacing: -4px;
}

.searchbox {
  margin-bottom: 2rem;
}